@{
    Layout = "_LayoutDeslogado";
}
@model EspecialistaModel


<form asp-controller="Especialista" asp-action="Create" method="post">
     <div class="row justify-content-center mt-5">
        <div class="col-5">
            <div class="card ">
                <div class="card-header text-center">
                    <h2>Cadastro de Especialista</h2>
                </div>
                <div class="card-body">
                    <div class="form-group mb-3"  >
                         <input type="text" asp-for="name" class="form-control" placeholder="Nome">
                    </div>
                    <div class="form-group mb-3"  >
                       <input type="text" asp-for="sobrenome" class="form-control" placeholder="Digite seu sobrenome">
                    </div>
                    <div class="form-group mb-3"  >
                        <input type="text" asp-for="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group mb-3"  >
                        <input type="password" asp-for="senha" class="form-control" placeholder="Senha">
                    </div>
                    <div class="form-group mb-3"  >
                       <input type="text" asp-for="telefone" class="form-control" placeholder="Telefone">
                    </div>
                    <div class="form-group mb-3"  >
                       <input type="text" asp-for="registro" class="form-control" placeholder="CRM">
                    </div  class="form-group mb-3" >
                <select  asp-items=@ViewBag.especialidades nome="nome" 
                asp-for="especialidadeid" class="form-control" > 
                 <option value="0">Selecione a especialidade</option></select>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>

</form>
   
