@model IEnumerable<HeathCheck1.Models.EspecialistaModel> 
 @{
    Layout = "_Layoutlogado";
}
@{ 
    ViewBag.Title = "BuscaEspecialista"; 
} 

<div class="row ">
    <div class="col-6 ">
        <div class="card text-white bg-dark mt-5">
            <div class="card-body ">
                <div class="mb-3">
                     <h2>Agende sua consulta!</h2>
                    <button class="btn btn-outline-danger"><i class="fa fa-location-dot"></i> Local</button> 
                    <button class="btn btn-outline-danger"><i class="fa-solid fa-video"></i> Teleconsulta</button>
                </div>
                <form>                
                   <div class="row">
                        <div class="col-4" >
                          <td>@using (Html.BeginForm()){    
                              @Html.TextBox("searchstring"); }
                         </td> 
                        </div>
                        <div class="col-4" >
                            <input type="text" class="form-control" placeholder="Cidade" aria-label="Cidade">
                        </div>
                        <div class="col-4">
                            <button type="submit" asp-route-action="ListarEspecialista"
                            class="btn btn-outline-danger"><i class="icons fa fa-magnifying-glass"></i> Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 ms-5 ">
    <div class="card text-white bg-dark mb-3 me-4" style="max-width: 540px;">
      <div class="row g-1">
        <div class="col-md-4 mt-3 mb-3 mr-5">
          <img src="https://cdn-icons-png.flaticon.com/512/147/147142.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body text-center">
            <p>"Consegui atendimento rapido e fácil, sem contar com a agilidade no agendamento"</p>
            <p>Avaliação</p>
            <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3 ms-4 me-4" style="max-width: 540px;">
      <div class="row g-1">
        <div class="col-md-4 mt-3 mb-3">
          <img src="https://cdn-icons-png.flaticon.com/512/147/147136.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body text-center">
            <p>"Gostaria que tivesse mais especialistas disponiveis."</p>
            <p>Avaliação</p>
            <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3 ms-4" style="max-width: 540px;">
      <div class="row g-1">
        <div class="col-md-4 mt-3 mb-3">
          <img src="https://cdn-icons-png.flaticon.com/512/147/147138.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body text-center">
            <p>"Tive dificuldade em entender como eu agendaria na minha agenda do Google, mas com a ajuda do suporte consegui agendar."</p>
            <p>Avaliação</p>
            <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i>
          </div>
        </div>
      </div>
    </div>
</div>