@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutLogado";
}
@model ConsultaModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Heath.styles.css" asp-append-version="true" />
  

</head>



<div class="text-center">
<h1 class="display-4">agendar consulta</h1>
</div>

 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
<form asp-controller="Agendamento" asp-action="Create" method="post">
  

    <div class="form-group"  >
   <input type="text" asp-for="nomePaciente" class="form-control" placeholder="Digite seu nome">
    </div>
    
    <div class="form-group"  >
   <input type="text" asp-for="tipovisita" class="form-control" placeholder="Digite o tipo da vista">
    </div>
    <div class="form-group"  >
   <input type="text" asp-for="descricaoConsulta" class="form-control" placeholder="digite o motivo da consulta">
    </div>
    <div class="form-group"  >
   <input asp-for="dataAgendamento" class="form-control"  placeholder="Digite a data da baixa" />
    <span asp-validation-for="dataAgendamento" class="text-danger"></span>
    </div>
   
    
   
     <td> 
           <a>
            <input type="submit"  value="Agendar horario" class="btn btn-primary" 
           ></a>
    </td> 
</form>

 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
