@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
}
@model ConsultaModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Heath.styles.css" asp-append-version="true" />
  

</head>



<div class="text-center">
<h1 class="display-4">agendar consulta</h1>
</div>

<form asp-controller="Agendamento" asp-action="Salvar" method="post">
    

    <div class="form-group"  >
   <input type="text" asp-for="nomePaciente" class="form-control" placeholder="Digite seu nome">
    </div>
    
    <div class="form-group"  >
   <input type="text" asp-for="tipovisita" class="form-control" placeholder="Digite o tipo da vista">
    </div>
    <div class="form-group"  >
   <input type="text" asp-for="descricaoConsulta" class="form-control" placeholder="digite o motivo da consulta">
    </div>
    <div class="form-group"  >
   <input type="text" asp-for="dataAgendamento" class="form-control" placeholder="Digite sua data">
    </div>
    
   
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
